* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}

label {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

input {
  display: flex;
  justify-content: center;
  position: relative;
  left: 877px;
  font-family: "Poppins", sans-serif;
}

submit {
  display: flex;
  justify-content: center;
  position: relative;
  left: 500px;
}
